#
# python  (3.8.5)
# pip     (21.1.1)
#
# author: @contimatteo
#

#############################
## Versioned

# https://discourse.aicrowd.com/t/unable-to-install-flatland/1391/7
# importlib-metadata==0.23


tensorflow-probability==0.10.0
flatland-rl==2.2.2
tensorflow==2.2.2
tf-agents==0.5.0
keras==2.3.1

#############################
## Not-Versioned

python-dotenv
keras-rl
scikit-learn
numpy

#############################
## Dev

pylint
yapf

#############################
## OSX Big Sur compatibility
## https://github.com/openai/gym/issues/2101

# pyglet==1.5.11
